@font-face {
  font-family: "iconfont"; /* Project id 3575008 */
  src: url('iconfont.eot?t=1688608774969'); /* IE9 */
  src: url('iconfont.eot?t=1688608774969#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1688608774969') format('woff2'),
       url('iconfont.woff?t=1688608774969') format('woff'),
       url('iconfont.ttf?t=1688608774969') format('truetype'),
       url('iconfont.svg?t=1688608774969#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e760";
}

.icon-goumai:before {
  content: "\e607";
}

.icon-shijian:before {
  content: "\e612";
}

.icon-fork:before {
  content: "\ebd3";
}

.icon-jieshu:before {
  content: "\e7e7";
}

.icon-duanxin:before {
  content: "\e632";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-bpmn-start:before {
  content: "\eb99";
}

.icon-dinggou:before {
  content: "\e616";
}

.icon-status-success:before {
  content: "\e61e";
}

.icon-shangji:before {
  content: "\e65a";
}

.icon-weixin-line:before {
  content: "\e8bb";
}

.icon-shouqi:before {
  content: "\e619";
}

.icon-putaway:before {
  content: "\e635";
}

.icon-xuanzhong:before {
  content: "\e626";
}

.icon-duihao:before {
  content: "\e633";
}

.icon-upload-img:before {
  content: "\e63d";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-jiazai1:before {
  content: "\e61c";
}

.icon-file:before {
  content: "\e600";
}

.icon-attachment:before {
  content: "\e631";
}

.icon-touzirenpinglun:before {
  content: "\e60b";
}

.icon-warning:before {
  content: "\e61f";
}

.icon-calendar:before {
  content: "\e684";
}

.icon-calendar-o:before {
  content: "\e869";
}

.icon-baojing:before {
  content: "\e625";
}

.icon-baojingpaiming:before {
  content: "\e62c";
}

.icon-kongxinwenhao:before {
  content: "\ed19";
}

.icon-gantanhao:before {
  content: "\e605";
}

.icon-file-xls:before {
  content: "\e638";
}

.icon-jianshao:before {
  content: "\e630";
}

.icon-jianshao1:before {
  content: "\e60f";
}

.icon-txt:before {
  content: "\e60e";
}

.icon-ppt:before {
  content: "\e610";
}

.icon-pdf:before {
  content: "\e611";
}

.icon-bg-pdf:before {
  content: "\e639";
}

.icon-bg-jpg:before {
  content: "\e63c";
}

.icon-bg-word:before {
  content: "\e63e";
}

.icon-bxs-file-png:before {
  content: "\e6b5";
}

.icon-top:before {
  content: "\e66d";
}

.icon-tips:before {
  content: "\e687";
}

.icon-jinggaotubiaosvg:before {
  content: "\e680";
}

.icon-close:before {
  content: "\e8e7";
}

.icon-guanlian3:before {
  content: "\e6fc";
}

.icon-chehui:before {
  content: "\e644";
}

.icon-jiebangfuben:before {
  content: "\e63f";
}

.icon-caidan:before {
  content: "\e657";
}

.icon-daoru:before {
  content: "\e65c";
}

.icon-jia:before {
  content: "\e7bb";
}

.icon-jia_:before {
  content: "\e649";
}

.icon-daochu1:before {
  content: "\e666";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-gengduo3:before {
  content: "\e7ca";
}

.icon-shrink:before {
  content: "\e622";
}

.icon-expand-right:before {
  content: "\e624";
}

.icon-tupian:before {
  content: "\e606";
}

.icon-baocun:before {
  content: "\e627";
}

.icon-add:before {
  content: "\e641";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-danxuan-xuanzhong:before {
  content: "\e6a4";
}

.icon-xiaoxigonggao:before {
  content: "\e63a";
}

.icon-biaoqian2:before {
  content: "\e6ae";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-xinjian3:before {
  content: "\e6c3";
}

.icon-kaiqilingsheng:before {
  content: "\e698";
}

.icon-guanbilingsheng:before {
  content: "\e699";
}

.icon-delete:before {
  content: "\e618";
}

.icon-message:before {
  content: "\e6b8";
}

.icon-download:before {
  content: "\e6ab";
}

.icon-upload-line:before {
  content: "\e6e0";
}

.icon-edit:before {
  content: "\e629";
}

.icon-upload:before {
  content: "\e87b";
}

.icon-sortable-up:before {
  content: "\e634";
}

.icon-upload-o:before {
  content: "\e6e2";
}

.icon-sortable-down:before {
  content: "\f00a";
}

.icon-no-checked:before {
  content: "\e720";
}

.icon-view:before {
  content: "\e6e3";
}

.icon-more:before {
  content: "\e69c";
}

.icon-reset:before {
  content: "\e64a";
}

.icon-expand:before {
  content: "\e6a2";
}

.icon-checked:before {
  content: "\e6d7";
}

.icon-close-line:before {
  content: "\e63b";
}

.icon-search:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e62f";
}

.icon-arrow-top:before {
  content: "\e7c3";
}

.icon-arrow-bottom:before {
  content: "\e7c4";
}

.icon-arrow-left:before {
  content: "\e648";
}

.icon-sort:before {
  content: "\e62e";
}

.icon-save-o:before {
  content: "\e617";
}

.icon-settings:before {
  content: "\e673";
}

.icon-settings-o:before {
  content: "\e8b7";
}

.icon-fullscreen:before {
  content: "\e602";
}

.icon-fullscreen-r:before {
  content: "\e60a";
}

.icon-refresh:before {
  content: "\e604";
}

